<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <style>
        .center{
            text-align: center;
        }
        .justify{
            text-align: justify;
        }
    </style>
    <title>Personal Cloud Computer</title>
</head>

<body>
    <section class="hero-body">
        <div class="columns">
            <div class="column">
                <h1 class="title center">
                    Hi
                </h1>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="center">
                    This is a cloud computer I am using to web scrape, so nothing unusual here, you can go away
                </p>
            </div>
        </div>
    </section>
</body>

</html>